#brand-history{
    padding-block:var(--three-xl-size);
}

#brand-history h2{
    margin-bottom:var(--m-size);
    text-transform: uppercase;
    font-size:var(--h2-font-size);
}

#brand-history h2 span{
    font-size:80px;
    line-height:0;
    text-transform: lowercase;
}