#sentence-part {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-block: var(--three-xl-size) var(--three-xl-size);
  background-color: var(--black-color);
  min-height: 800px;
}

#sentence-part .container {
  display: flex;
  flex-direction: column;
  gap: var(--xl-size);
  max-width: var(--desktop-max-width);
  margin-inline: auto;
  position: relative;
  width: 100%;
  padding-inline: 100px;
}

#sentence-part h2 {
  font-size: 36px;
  display: flex;
  align-items: center;
  gap: 10px;
}

#sentence-part h2 span {
  font-size: 100px;
  margin-top: -10px;
}

#sentence-part ul.sentence {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  width: 100%;
}

#sentence-part ul.sentence li.word {
  font-size: 40px;
  font-weight: 700;
  text-transform: none;
}

#sentence-part .looper-container {
  position: absolute;
  right: 100px;
  bottom: 0;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#sentence-part .looper-group {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#sentence-part .rect {
  position: absolute;
  width: 120px;
  height: 120px;
  background-color: var(--light-blue-color);
}

/*——————————————————RESPONSIVE————————————————————*/

@media (max-width: 1024px) {
  #sentence-part .container {
    padding-inline: 40px;
  }

  #sentence-part ul.sentence li.word {
    font-size: 32px;
  }

  #sentence-part h2 span {
    font-size: 80px;
  }

  #sentence-part .looper-container {
    position: relative;
    right: auto;
    bottom: auto;
    align-self: center;
    margin-top: 50px;
  }
}

@media (max-width: 425px) {
  #sentence-part .container {
    padding-inline: 20px;
  }

  #sentence-part ul.sentence li.word {
    font-size: 28px;
  }

  #sentence-part h2 {
    font-size: 24px;
  }

  #sentence-part h2 span {
    font-size: 48px;
  }

  #sentence-part .looper-container {
    width: 150px;
    height: 150px;
  }

  #sentence-part .rect {
    width: 80px;
    height: 80px;
  }
}

/*————————————————————————————————————————————————*/