.row-img-div {
  display: flex;
  width: 100vw;
  background-color: var(--black-color);
  align-items: center;
}

.row-img-div.reverse {
  flex-direction: row-reverse;
}

.row-img-div .left {
  width: 50%;
  padding: var(--m-size);
  display: flex;
  flex-direction: column;
  gap: var(--two-xs-size);
}

.row-img-div h3 {
  font-size: 32px;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--white-color);
}

.row-img-div .text-row {
  font-size: 16px;
  line-height: 27px;
  color: var(--white-color);
  margin-bottom: var(--s-size);
}

.row-img-div img {
  width: 50%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 1;
}

@media (max-width: 768px) {
  .row-img-div {
    flex-direction: column !important;
  }

  .row-img-div .left {
    padding: var(--s-size);
    width: 100% !important;
  }

  .row-img-div img {
    width: 100%;
  }
}