.skill-content {
  width: 100%;
}

.skill-content-inner {
  width: 100%;
  height: 350px;
  display: flex;
  flex-direction: column;
  gap: var(--two-xs-size);
  padding: var(--two-xs-size);
  background-color: var(--very-dark-grey-color);
  overflow: hidden;
}

.skill-content-inner h3 {
  font-size: 20px;
  font-weight: 700;
  margin: 0;
  color: var(--white-color);
}

.skill-content-inner .skill-apps {
  position: relative;
  width: 100%;
}

.skill-content-inner .skill-apps ul {
  display: flex;
  gap: var(--two-xs-size);
  overflow-x: auto;
  padding-bottom: 5px;
}

.skill-content-inner .skill-apps ul::-webkit-scrollbar {
  display: none;
}

.skill-content-inner .skill.app {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  width: auto;
  height: auto;
  min-width: unset;
}

.skill-content-inner .skill.app p {
  display: none;
  /* Hide names in this view to match Figma better */
}

.skill-content-inner p.desc {
  font-size: 14px;
  line-height: 1.4;
  overflow-y: auto;
  margin: 0;
  color: var(--white-color);
}

.skill-content-inner p.desc::-webkit-scrollbar {
  display: none;
}