#about-brand h2{
    font-size:var(--h2-font-size);
    padding-inline: var(--xs-size);
    margin-bottom:var(--m-size);
}

@media(max-width: 425px) {
    #about-brand h2{
        font-size:var(--h3-font-size);
    }
}