#contact form .flex-row{
    display:grid;
    gap:var(--s-size);
    grid-template-columns: 1fr 1fr;
}

#contact form{
    display:block;
}


#contact form .flex-row div.row{
    width:100%;
    min-width: 250px;
}

#contact form .btn:after{
    background-color: var(--purple-color);
}

#contact form .btn{
    background-color: var(--white-color);
}

#contact form .btn div.content, #contact form .btn div.content i svg, #contact form .btn div.content i{
    color:var(--purple-color) !important;
}

/*—————————————————RESPONSIVE——————————————————-*/

@media(max-width:1024px){
    #contact form .flex-row{
        grid-template-columns: 1fr;
    }
}