#journey-content {
  background-color: var(--black-color);
  width: 100vw;
  overflow: hidden;
  position: sticky;
  top: 0;
  height: 100vh;
  display: flex;
  align-items: flex-start;
  padding-top: var(--three-xl-size);
}

#journey-content .journey-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--xl-size);
  width: 100%;
}

#journey-content .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#journey-content .top .left h2 {
  font-size: 36px;
  text-transform: uppercase;
  font-weight: 700;
}

#journey-content .top .left p.current-period {
  font-size: 20px;
  line-height: normal;
  margin-top: 5px;
  font-weight: 400;
}

#journey-content .all-dates {
  width: 100vw;
  padding-left: var(--l-size);
}

#journey-content .all-dates .scroll-container {
  display: flex;
  gap: 0;
  width: max-content;
  align-items: flex-end;
  height: 500px;
}

#journey-content .clock-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

@media (max-width: 1024px) {
  #journey-content .top {
    flex-direction: column;
    align-items: flex-start;
    gap: var(--xs-size);
  }

  #journey-content .all-dates .scroll-container {
    height: 400px;
    gap: 0;
  }
}

@media (max-width: 425px) {
  #journey-content .top {
    gap: 5px;
  }

  #journey-content .top .left h2 {
    font-size: 28px;
  }

  #journey-content .top .left p.current-period {
    font-size: 18px;
    line-height: 1.4;
    font-weight: 500;
  }

  #journey-content .all-dates .scroll-container {
    height: 320px;
    gap: 0;
  }
  }