#———————————————————————————————————————#
# DOMAIN                                #
#———————————————————————————————————————#
APP_DOMAIN=portfolio.com
APP_PORT=3000
APP_NAME=my-portfolio-prod

#———————————————————————————————————————#
# ENV                                   #
#———————————————————————————————————————#
# development | production
NODE_ENV=production

# local | dev | prod
APP_ENV=prod

#———————————————————————————————————————#
# NEXT                                  #
#———————————————————————————————————————#
NEXT_TELEMETRY_DISABLED=1

#———————————————————————————————————————#
# DATABASE                              #
#———————————————————————————————————————#
DATABASE_URL="mysql://user:pass@db:3306/portfolio"
MYSQL_ROOT_PASSWORD=root
MYSQL_USER=user
MYSQL_PASSWORD=pass
MYSQL_DATABASE=portfolio
