#footer {
  padding: 20px;
  width: 100vw;
  display: flex;
  justify-content: center;
  position: relative;
  overflow: hidden;
  background-color: transparent;
}

#footer .bg-circle {
  position: absolute;
  border-radius: 100%;
  z-index: -1;
}

/* Cercle 1 : Bleu Foncé (#0015C3) */
#footer .circle-1 {
  width: 963px;
  height: 372px;
  left: calc(50% - 600px);
  top: 70px;
  background: #0015C3;
}

/* Cercle 2 : Bleu Clair (#4D92FF) */
#footer .circle-2 {
  width: 749px;
  height: 304px;
  left: calc(50% - 100px);
  top: 271px;
  background: #4D92FF;
}

#footer .container {
  width: 100%;
  max-width: var(--desktop-max-width);
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.01);
  border: 1px solid #171717;
  /* Outline Grey-2 */
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
  z-index: 1;
}

#footer .main-footer-content {
  padding-top: 50px;
  padding-inline: 100px;
}

#footer .top-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  width: 100%;
}

#footer .item {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#footer .item h3 {
  color: #EBEBEB;
  font-size: 32px;
  font-weight: 700;
}

#footer .item a {
  color: #EBEBEB;
  font-size: 18px;
  font-weight: 400;
  transition: opacity 0.3s;
}

#footer .footer-name {
  font-size: 400px;
  line-height: 0.5;
  position: relative;
  top: 50px;
}

#footer .portfolio-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#footer .portfolio-title:first-child {
  margin-top: 0;
}

#footer .portfolio-title {
  font-size: 208px;
  /* Taille exacte du design */
  font-weight: 700;
  color: #EBEBEB;
  line-height: 0.9;
  margin-top: -150px;
  text-align: center;
}

#footer .portfolio-title.faded-1 {
  opacity: 0.67;
}

#footer .portfolio-title.faded-2 {
  opacity: 0.33;
}

#footer .footer-bottom {
  padding-block: 20px;
  display: flex;
  justify-content: center;
}

#footer .footer-bottom p {
  font-size: 18px;
  color: #EBEBEB;
}

#footer .bold {
  font-weight: 700;
}

/* Responsivité simplifiée pour mobile */
@media (max-width: 1024px) {
  #footer .portfolio-title {
    font-size: 120px;
  }

  #footer .top-section {
    flex-direction: column;
    gap: 50px;
  }

  #footer .main-footer-content {
    padding-inline: 20px;
  }
}

@media (max-width: 425px) {
  #footer .portfolio-title {
    font-size: 60px;
  }

  #footer .footer-name {
    font-size: 80px;
  }

  #footer .top-section {
    flex-direction: column;
    gap: 30px;
  }

  #footer .item h3 {
    font-size: 24px;
  }
}