#project-part {
  background-color: var(--black-color);
  padding-block: var(--three-xl-size);
}

#project-part .container {
  max-width: var(--desktop-max-width);
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  gap: var(--xl-size);
}

#project-part .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#project-part h2 {
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

#project-part ul.project-cats {
  display: flex;
  flex-direction: column;
  gap: var(--three-xl-size);
  padding: 0;
}

#project-part .project-cat-li {
  list-style: none;
}

@media (max-width: 1024px) {
  #project-part .top {
    padding-inline: 20px;
  }
}
