.project-cat {
  display: flex;
  flex-direction: column;
}

.project-cat .title {
  display: flex;
  gap: var(--s-size);
}

.project-cat .title h3 {
  font-size: 32px;
  font-weight: 500;
}

@media (max-width: 1024px) {
  .project-cat .title {
    padding-inline: var(--two-xl-size);
  }
}

@media (max-width: 425px) {
  .project-cat .title {
    padding-inline: var(--s-size);
  }

  .project-cat .title h3 {
    font-size: 20px;
  }

  .project-cat .title svg {
    width: 30px;
    height: 30px;
  }
}

.no-data {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 440px;
  width: 100%;
  color: var(--white);
  font-size: 1.2rem;
  opacity: 0.7;
}
