.project-cat {
  display: flex;
  flex-direction: column;
}

.project-cat .title {
  display: flex;
  gap: var(--s-size);
}

.project-cat .title h3 {
  font-size: 32px;
  font-weight: 500;
}

.no-data {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 440px;
  width: 100%;
  color: var(--white);
  font-size: 1.2rem;
  opacity: 0.7;
}
